.container { max-width: 840px; margin: 0 auto; }

.intro { text-align: center; }

.about-grid { display: grid; grid-template-columns: 50% 50%; }

.i-am, .i-like { text-align: center; }

.about-list { list-style: none; }

@media (max-width: 480px) {
  .about-grid { grid-template-columns: 100%; }
}
