.container { max-width: 840px; margin: 0 auto; }

.intro { text-align: center; }

.about-grid { display: grid; display-template-rows: 50% 50%; }

.about-list { text-align: center; list-style: none; }


